:root {
    --central-palette-4: #FAFAE2;
    --Everglade: #1E4131;
    --Bush: #0B281E;
    --BlackBean: #071913;
    --central-palette-3: #F83A1F;
}

body {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: var(--Everglade);
    color: var(--central-palette-4);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}


h1 {
    text-align: center;
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
}

button {
    margin: auto;
    width: 100%;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: none;
    height: 50px;
    margin: 10px 0px;
    background-color: var(--Bush);
    color: var(--central-palette-4);
    /* box-shadow:  5px 5px 15px var(--BlackBean); */
    font-weight: 700;
}

@media screen and (prefers-reduced-motion: no-preference) {
    p {
        transition: opacity 1.0s;
    }
}

p.show {
    color: rgb(193, 205, 168);
    opacity: 1.0;
}

p.choice {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

p.instruction{
    font-size: large;
    font-weight: 800;
    color: var(--central-palette-3);
    text-align: center;
}

a:hover {
    color: black;
}

button:hover {
    
}

#continue-button {
    transition: all 1s;

}


.page-container
{
    position: relative;
    max-width: 600px;
    margin: 50px auto;
}

.page
{
    top: 75px;
    display: none;
    transition: all 4s ease;
    height: 300px;
    width: 100%;
    position: absolute;
}

label {
    font-weight: 700;
}

input[type=text]
{
    width: 100%;
    height: 55px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: large;
    border-radius: 5px;
    background-color: var(--central-palette-4);
    color: var(--BlackBean);
    margin: 15px 0px;
}

.error-box
{
    height: 35px;
    width: 100%;
    background-color: #e26555;
    color: var(--central-palette-3);
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;

    visibility: hidden;
}

p.error
{
    color: var(--central-palette-3);
    opacity: 1;
    margin: auto;
}

header
{
    position: fixed;
    height: 75px;
    z-index: 1; 
    display: flex;
    left: 0;
    top: 0;
    flex-direction: row;
    width: 100%;
    background-color: var(--Bush);
    padding: 0px 50px;
    margin: 0;
}

.nav > button{

    max-width: 200px;
    height: 50px;
    box-shadow: 0px 0px 0px;
    background-color: var(--Everglade);
    margin: 0px 15px;
    width: 60px;
}

.nav > button{
    transition: all 200ms ease;
}

.nav > button:hover {
    border: var(--central-palette-4) solid 1px;
}


.header-left
{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: left;
}

.nav
{
    width: 50%;
    margin-right: 50px;
    align-items: center;
    display: flex;
    justify-content: right;
}


#story-book
{
    margin-top: 75px;
    display: none;
    margin-bottom: 300px;
}

#end-day-btn {
    background-color: var(--central-palette-3);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--Everglade);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    border: none;
    max-width: 600px;

  }

  #popup-confirm
  {
    background-color: var(--central-palette-3);
  }


  @media (max-width: 600px) {
    .modal-content {
        width: 85%;
    }

    .page-container
    {
        width: 85%;
    }

}